.container {
  width: 100%;
  display: flex;
  margin: 16px 0;
  align-items: center;
  justify-content: flex-end;

  p {
    order: 1;
    margin-left: 0;
    font-size: 12px;
    line-height: 20px;
    margin-right: 16px;
    color: var(--gray-dark);
  }

  > button {
    &:not(:last-child) {
      order: 1;
    }

    &:last-child {
      order: 3;
      margin-left: 8px;
    }
  }
}

@media screen and (max-width: 602px) {
  .container {
    justify-content: center;

    p {
      order: 2;
      margin: 0 16px;
    }

    button {
      &:not(:last-child) {
        order: 1;
      }

      &:last-child {
        margin-left: 0;
      }
    }
  }
}
