.react-modal-overlay {
  background: var(--black40);
  position: fixed;
  inset: 0 0 0 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

// Responsive
@media screen and (max-width: 768px) {
  .react-modal-overlay {
    align-items: flex-start;
  }
}
