.container {
  border: 0;
  padding: 8px 21px;
  line-height: 20px;
  width: max-content;
  border-radius: 44px;
  transition: filter .2s;
  background: var(--white);

  span {
    font-size: 16px;
    font-weight: 500;
    color: var(--pink-light);
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }

  &:hover {
    filter: opacity(0.85);
  }
}