.button {
  padding: 7px;
  outline: none;
  line-height: 0px;
  border-radius: 100px;
  background-color: var(--transparent);
  border: 1px solid var(--gray-dark20);
  transition: background-color .2s ease-in-out 0s;

  svg {
    font-size: 16px;
    color: var(--gray-dark);
  }

  &:not(:disabled) {
    &:hover {
      background-color: var(--gray-dark20);
    }
  }

  &:disabled {
    cursor: not-allowed;

    svg {
      color: var(--gray-dark40);
    }
  }
}
