.container {
  background: url("/images/login-background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
}

.content {
  height: 100%;
  margin: 0 auto;
  padding: 0 16px;
  max-width: 1151px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  form {
    display: flex;
    margin-top: 48px;
    width: max-content;
    flex-direction: column;
    position: relative;
    gap: 16px;

    button {
      position: absolute;
      min-width: 85.14px;
      bottom: 12px;
      right: 12px;
    }
  }
}

@media screen and (max-width: 420px) {
  .content form {
    width: 100%;
  }
}
