* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #FFF;
  --gray800: #333333;
}

body {
  background: var(--white);
}

body, input, textarea, button {
  font: 400 1rem 'Heebo', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: 'Heebo', sans-serif;
}

button {
  cursor: pointer;
}

.hd {
  display: none;
}