.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    display: none;
  }

  span {
    font-size: 28px;
    font-weight: 300;
    line-height: 40px;
    margin-left: 16px;
    color: var(--white);
  }

  .logo {
    display: flex;
    align-items: center;
  }

  &.dark {
    span {
      color: var(--gray-dark);
    }

    .logo svg path {
      fill: var(--gray-dark);
    }
  }

  .welcomeUser {
    display: flex;
    align-items: center;

    p {
      font-size: 12px;
      font-weight: 500;
      line-height: 16px;
      color: var(--gray-dark);
    }

    button {
      margin-left: 16px;
    }
  }
}

@media screen and (max-width: 602px) {
  .container .welcomeUser {
    p {
      display: none;
    }
  }
}
